<div class="text-center border-bottom row" style="margin-bottom:16px;padding-bottom:40px">
    <div class="col-md-2">
        <h4 style="color:rgb(69,232,15); margin-bottom:4px;">{{job['title']}};</h4>
        <div><b>Location:</b>{{job['location']}}</div>
        {% if 'salary' in job%}
        <div><b>Salary:</b>{{job['salary']}}</div>
        {% endif %}
    </div>
    <div class="col-3">
         <a href="mailto:vvelinets@gmail.com?subject=Apply for {{job['title']}}"type="button" class="btn btn-outline-primary">Apply</a>
    </div>
</div>